
hr{
  margin:0;
}
object{
  display: none;
}
button.navbar-toggle.collapsed{
  border: 2px solid;
}
.container-fluid {
  padding-right: 30px;
}

.logo_home{
  width:35%;
}

/*-------------------------------------------------------HERO---------------------------*/
.header_button_transparent{
  background: none;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
  transition: 0.3s all;
}
.button_transparent{
  padding: 2%;
  background: none;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: 0.3s all;
}
a.button_transparent {
  color: #fff;
  transition: 0.5s all;
}
a.button_transparent:hover{
  text-decoration: none;
  background:rgba(255,255,255,.8);
  color:#4AA3DF;
}
.header_button_transparent:hover{
  background: rgba(255,255,255, .7) !important;
  color: #4AA3DF !important;
}
.header_button_transparent a:hover {
  color: #4AA3DF !important;
}

nav.navbar.navbar-default{
  background: transparent;
  border: none;
  color:#fff;
  margin: 0;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a{
  color: #fff !important;
}
.hero{
  text-align: center;
  text-shadow: 0 1px 0 rgba(#000, .15);
  background-image: url('/images/background.png');
  min-height: 100vh !important;
  background-size: cover;
  padding-top: 50px;
  margin-top: -50px;
  color: #fff;
}
.hero h1{
  margin-top: 30px;
  font-weight: bold;
  font-size:45px;
  text-transform: uppercase;
  letter-spacing:0.12em;
  font-family: 'Droid Sans', sans-serif;
}
.hero h3{
  margin-top:50px;
  font-family: 'Raleway', sans-serif;
}
.calltoaction{
  margin-top:80px;
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
}
.scroll{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  background:rgba(255,255,255,.4);
  padding: 2%;
  border-radius:50%;
  transition: 0.2s all;
  color:#fff;
  position: relative;
}
.scroll:hover{
  font-size: 23px;
  background:rgba(0,0,0,.2);
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.scroll:active{
  background:rgba(0,0,0,.2);
}

@media (max-width: 780px) {
  .hero h1{
    font-size:30px;
  }
  .hero h3{
    margin-top:50px;
    font-size:20px;
  }
  .calltoaction{
    margin-top:80px;
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .hero h1{
    font-size:20px;
    min-height:100px;
  }
  .hero h3{
    font-size:15px;
    font-weight: bold;
  }
  .calltoaction{
    margin-top:50px;
    margin-bottom: 10px;
  }
  .scroll{
    font-size: 30px;
  }
}
/*--------------------------------------SECOND------------------------------------------------------*/
.second{
  text-align:center;
  background: #fff;
  padding: 1%;
  min-height: 90vh;
}
.second h1{
  margin-top:90px;
  font-weight:bold;
  color:#5a5a5a;
}
.second h3{
  color: #A5A5A6;
  font-family: 'Raleway', sans-serif;
  margin-top: -5px;
}
.estatistica{
  margin: 20px 0 80px 0;
}
.estatistica h1{
    font-family: 'Lato', sans-serif;
    color:#4AA3DF;
    font-size: 50px;
}
.button_blue{
  padding: 1%;
  background: #4AA3DF;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #4AA3DF;;
  border-radius: 50px;
  transition: 0.3s all;
}
a.button_blue {
  color: #fff;
  transition: 0.5s all;
}
a.button_blue:hover{
  text-decoration: none;
  background:rgba(255,255,255,.8);
  color:#4AA3DF;
}
@media (max-width: 780px) {
  .second h1{
    margin-top:50px;
    font-size:30px;
  }
  .second h3{
    margin-top:10px;
    font-size:15px;
    font-weight:bold;
  }
}
@media (max-width: 400px) {
  .second{
    min-height: 0px;
  }
  .second h1{
    margin-top:10px;
    font-size:15px;
    font-weight:bold;
  }
  .second h3{
    font-size:15px;
    font-weight:bold;
  }
}

/*----------------------------------THIRD--------------------------------------------------------*/
.third{
  padding:3%;
  background:  #fff;
  text-align: center;
  color: #2C3941;
}

.third h1,.fifth h1{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 20px 0 50px 0;
  color: #5a5a5a;
}
.third h3{
  color: #A5A5A6;
  margin: 20px 0 30px 0;
}
.third img{
  width: 80%;
}
@media (max-width: 780px) {
  .third h1{
    margin-top:50px;
    font-size:30px;
  }
  .third h3{
    font-size:20px;
    margin: 10px 0 20px 0;
  }
}
@media (max-width: 400px) {
  .third h1{
    margin-top:30px;
    font-size:20px;
  }
  .third h3{
    font-size:15px;
    margin: 5px 0 15px 0;
  }
}

/*----------------------------------FOURTH--------------------------------------------------------*/
.fourth{
  padding:3%;
  background-image: linear-gradient(to bottom, rgba(74, 163, 223, 0.95) 0%, rgba(74, 163, 223, 0.7) 100%), url('/images/pattern2_transparent64.png');
  text-align: center;
  color: #fff;
  bottom: 0;
}
.fourth h1{
  font-weight: bold;
}
@media (max-width: 1000px) {
  .basico, .master {
    display: none;
  }
}
@media (max-width: 400px) {
  .fourth h1{
    margin-top:30px;
    font-size:20px;
  }
  .fourth h3{
    font-size:15px;
    margin: 5px 0 15px 0;
  }
}

/*----------------------------------FIFITH--------------------------------------------------------*/
.fifth{
  text-align:center;
  bottom: 0;
}
.fifth h1{
  letter-spacing:0.2em;

}
.fifth img{
  width:80%;
  -webkit-filter: drop-shadow(5px 0px 3px #d0d0d0);
  drop-shadow(-5px -5px 0 #d0d0d0);
  filter: drop-shadow(5px 0px 3px #d0d0d0);
  drop-shadow(-5px 0px 3px #d0d0d0);
}


@media (max-width: 780px) {
  .fifth h1{
    margin: 20px 0 20px 0;
    font-size:20px;
  }
  .fifth h3{
    font-size:15px;
  }
}

@media (max-width: 400px) {
  .fifthh h1{
    margin-top:30px;
    font-size:15px;
  }
  .fifth h3{
    font-size:15px;
  }
}

/*----------------------------------SIXTH--------------------------------------------------------*/
.sixth{
  text-align:center;
  background-image: linear-gradient(to bottom, rgba(74, 163, 223, 0.8) 0%, rgba(74, 163, 223, 0.8) 100%), url('/images/working-out.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
  padding:3%;
  color: #fff;
}
.sixth h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
}
.sixth img{
  border-radius: 5px;
  border: 2px solid #fff;
}
/*----------------------------------SEVENTH--------------------------------------------------------*/
.seventh{
  text-align:center;
  background: #fff;
  padding:3%;
  color: #5a5a5a;
}
span.icon{
  font-size: 80px;
  color: #4aa3df;
}
.seventh h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
}
@media (max-width: 1000px) {
  span.icon{
    font-size:40px;
  }
}
@media (max-width: 1000px) {
  span.icon{
    font-size:40px;
  }
}
/*----------------------------------EIGHTH--------------------------------------------------------*/
.eighth{
  text-align:center;
  display: none;
  background: #fff;
  padding:3%;
  color: #5a5a5a;
}
.eighth h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
}
.testimonials{
  margin-top:50px;
}
.testimonial_img{
  width: 100px;
  border-radius: 50%;
  border: 3px solid #4aa4df;
}

@media (max-width: 400px) {
  .eighth{
    display:none;
  }
}
/*----------------------------------NINETH--------------------------------------------------------*/
.nineth{
  text-align:center;
  background: #fff;
  padding:3%;
  color: #5a5a5a;
}
.nineth h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}
.contact_field{
  border: 2px solid #efefef;
  border-radius: 5px;
  padding: 1%;
  font-size: 20px;
  outline: none;
  transition: 0.2s all;
}
.contact_field:focus{
  border:2px solid #4aa3df;
}
input.button_blue{
  margin-top: 10px;
  color:#fff;
}
input.button_blue:hover{
  background: #3d89b5;
}

@media (max-width: 780px) {
  .nineth h1{
    margin: 20px 0 20px 0;
    font-size:20px;
  }
  .nineth h3{
    font-size:15px;
  }
}

@media (max-width: 400px) {
  .nineth h1{
    margin-top:30px;
    font-size:20px;
  }
  .nineth h3{
    font-size:15px;
  }
}

/*----------------------------------FOOTER--------------------------------------------------------*/
footer{
  padding:3%;
  background: #335A74;
  bottom: 0;
  color:#fff;
  text-align:center;
}
.footer-social{
  padding:2%;
}
.footer-social ul{
  list-style: none;
  padding: 0;
}
.footer-social ul li{
  display: inline;
}
.footer-links{
  padding: 2%;
}
.footer-links ul{
  list-style: none;
  padding: 0;
}
.footer-links a{
  color: #fff;
}
.footer-links a :hover{
  opacity: 0.6;
}
.footer-support{
  padding: 2%;
}
.footer-support img{
  width: 50%;
}
.footer-icon{
  color: #fff;
  margin: 10px;
  font-size: 25px;
}
.footer-icon:hover{
  color:#5086AB
}
/*----------------------------------FOOTER COPYRIGHT------------------------------------------------------*/
.footer-copyright{
  background: #3C515F;
  padding: 1%;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.footer-copyright a{
  color: #fff;
  font-weight: bold;
}

/*----------------------------------PRICING--------------------------------------------------------*/
.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: #fff;
  border-radius: 5px;
  margin: 20px auto;
  padding-bottom: 25px;
  text-align: center;
  border: 2px solid #bdbdbd;
}
.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: 'Lato', sans-serif;
  padding: 12px 16px;
  background: #4aa3df;
  color: #fff;
}
.plan .price {
  border-top: 1px solid #eee;
  margin: 0 auto 30px auto;
  width: 80%;
  color:#5a5a5a;
}
.plan ul li {
  line-height: 22px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color:  #333;
}
.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px;
}
.plan .btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #399dd6;
  border-radius:50px;
  background: #4aa3df;
  transition: 0.3s all;
  margin-bottom: 10px;
}
button.btn.btn-success:hover{
  background: #53bff5;
}
button.btn.btn-success:focus{
  outline:0;
}
.item-list li{
  color:#5a5a5a;
}
.price h4{
  color: #b6b6b6;
}
.price h3{
  font-size: 45px;
  font-family: 'Lato', sans-serif;
}
.symbol{
  font-size: 10px;
}
/*----------------------------------PRICING--------------------------------------------------------*/
.paypal_div{
  text-align: center;
}
.paypal_div select{
  color: #000;
  padding: 2%;
  background: #fff;
  border: 2px solid #4aa3df;
  border-radius: 5px;
}
.paypal_button{
  background: #4aa3df;
  border: none;
  padding: 2%;
  border-radius: 5px;
  margin-top: 20px;
  outline: none;
  transition: 0.3s all;
}
.paypal_button:hover{
  background: #357599;
}
option{
  padding: 2%;
}
/*----------------------------------CONHECA-SECOND--------------------------------------------------------*/
.conheca_second{
  text-align:center;
  background: #fff;
}
.conheca_second h1{
  margin-top:50px;
  font-weight:bold;
  color:#5a5a5a;
}
.conheca_second h3{
  color: #A5A5A6;
  font-family: 'Raleway', sans-serif;
  margin-top: -5px;
}
.conheca_item_1{
  margin-top: 30px;
}
.conheca_item_1 img{
  border: 3px solid #efefef;
  border-radius: 5px;
  margin-bottom: 30px;
}

/*----------------------------------CONHECA-THIRD--------------------------------------------------------*/
.conheca_third{
  text-align:center;
  background: #fff;
}
.conheca_third h1{
  margin-top:90px;
  font-weight:bold;
  color:#5a5a5a;
}
.conheca_third h3{
  color: #A5A5A6;
  font-family: 'Raleway', sans-serif;
  margin-top: -5px;
}
.thumbnail{
  min-height: 250px;
}
.thumbnail img{
  border: 3px solid #4aa3df;
  width: 100px;
  margin-top: 30px;
  border-radius: 25%;
}
/*----------------------------------CONHECA-fourth--------------------------------------------------------*/
.conheca_fourth{
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(74, 163, 223, 0.8) 0%, rgba(74, 163, 223, 0.8) 100%), url('/images/working-out.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2%;
  color: #fff;
}
.conheca_fourth h1{
  margin-top:30px;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  letter-spacing: 0.2em;
}
.conheca_fourth p{
  font-size: 20px;
  text-align:center;
}
.conheca_fourth b{
  font-size: 25px;
}
/*----------------------------------CONHECA-LISTITEM---------------------------------------------------------*/
.conheca_list_item{
  border: 1px solid #dbdbdb;
  margin: 10px;
  border-radius: 5px;
  padding: 2%;
  min-height: 450px;
}
.conheca_list_item h3{
  color: #333;
  font-weight:bold;
  margin: 20px;
}
.conheca_list_item ul li{
  text-align: left;
  border-bottom: 1px solid #efefef;
  padding: 2%;
}
.conheca_list_item ul li:hover{
  background: #efefef;
}
.logo_big_conheca{
  margin-top:60px;
}
.callcenter, .erp{
  width: 50%;
}
@media (max-width: 950px) {
  .logo_big_conheca{
    display:none;
  }
}
/*----------------------------------IMPLANTACAO--------------------------------------------------------*/
.implantacao_second{
  text-align:center;
  background: #fff;
}
.implantacao_second h1{
  margin-top:50px;
  font-weight:bold;
  color:#5a5a5a;
}
.implantacao_second h3{
  color: #A5A5A6;
  font-family: 'Raleway', sans-serif;
  margin-top: -5px;
}
.button_implant{
  background: #fff;
  color:#4aa3df;
  margin-top:20px;
  padding: 1%;
  font-size: 20px;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  width: 40%;
  margin:15px auto;
}
.button_implant:hover, .button_implant a:hover{
  text-decoration: none;
  opacity: 0.8;
}
/*----------------------------------REGISTER_FORM---------------------------------------------------------*/
.register_form{
  text-align: left;
  min-height: 600px
}
.register_form label{
  margin-top: 15px;
}
.register_form input, .register_form select{
  width: 100%;
  color: #333;
  height: 45px;
  padding: 2%;
  border-radius: 5px;
  background: #fff;
  border: none;

}
.register_button{
  margin-top: 20px;
  background: #FFAB11;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 2%;
  font-weight:bold;
}
.register_button:hover{
  background:#FFBF49;
}
.macademia{
  width: 60%;
}
.modal-dialog {
  width: 80%;
  margin: 30px auto;
}
