<footer>
    <div class="container">

      <div class="footer-social col-md-4">
        <h4><b>Social</b></h4>
        <ul>

          <li>
            <a href="http://twitter.com/lab85">
              <span class="fa fa-twitter footer-icon"/>
            </a>
          </li>

          <li>
            <a href="http://facebook.com/lab85">
              <span class="fa fa-facebook footer-icon"/>
            </a>
          </li>

          <li>
            <a href="skype:suporte.academi.as">
              <span class="fa fa-skype footer-icon"/>
            </a>
          </li>

          <li>
            <a href="mailto:contato@academi.as">
              <span class="fa fa-envelope-o footer-icon"/>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-links col-md-4">
        <h4><b>Suporte</b></h4>
        <h5>Estamos prontos para atendê-lo das 9h ao 12h das 13h as 17h</h5>
          <ul>
            <li>
              <a href="tel:+55 46 3057 3030">
                +55 46 3057 3030
              </a>
            </li>
            <li>
              <a href="mailto:contato@academi.as">
                e-mail: contato@academi.as

              </a>
            </li>
            <li>
              <a href="skype:suporte.academi.as">
                skype: suporte.academi.as
              </a>
            </li>
          </ul>
      </div>

      <div class="footer-support col-md-4">
        <h4><b>Um produto:</b></h4>
          <a href="http://lab85.com.br" target="_blank">
            <img src="/images/logo-lab.svg">
          </a>
      </div>

    </div>
</footer>

<div class="footer-copyright">
  <div class=" container">
    <p class="footer-copyright">
      © 2015 Academi.as - Todos os direitos reservados - Design por <a href="http://wmitrut.com" target="_blank">WMITRUT</a>
    </p>
  </div>
</div>
