<footer>
    <div class="container">

      <div class="footer-social col-md-4">
        <h4>Social</h4>
        <ul>

          <li>
            <a href="http://twitter.com/lab85">
              <span class="fa fa-twitter footer-icon"/>
            </a>
          </li>

          <li>
            <a href="http://facebook.com/lab85">
              <span class="fa fa-facebook footer-icon"/>
            </a>
          </li>

          <li>
            <a href="http://facebook.com/lab85">
              <span class="fa fa-instagram footer-icon"/>
            </a>
          </li>

          <li>
            <a href="http://facebook.com/lab85">
              <span class="fa fa-linkedin footer-icon"/>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-links col-md-4">
        <h4>Links</h4>
          <ul>
            <li>
              <a href="http://google.com">
                Um link muito importante
              </a>
            </li>
            <li>
              <a href="http://google.com">
                Outro link muito importante
              </a>
            </li>
            <li>
              <a href="http://google.com">
                Mais um link importante
              </a>
            </li>
          </ul>
      </div>

      <div class="footer-support col-md-4">
        <h4>Um produto:</h4>
          <a href="http://lab85.com.br">
            <img src="/images/logo-lab.svg">
          </a>
      </div>

    </div>
</footer>

<div class="footer-copyright">
  <div class=" container">
    <p class="footer-copyright">
      © 2015 Academi.as - Todos os direitos reservados - Design por <a href="http://wmitrut.github.io">WMITRUT</a>
    </p>
  </div>
</div>
