<footer class="footer">
  <div class="footer-nav-container container">
    <div class="footer-nav row">

      <div class="footer-social col-md-4">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="http://zofe.com.br/feed/posts.xml">
              <img src="/assets/img/social-icons/rss.svg" class="footer-social-item-icon">
            </a>
          </li>
          <li class="footer-social-item">
            <a href="http://twitter.com/zofepod">
              <img src="/assets/img/social-icons/twitter.svg" class="footer-social-item-icon">
            </a>
          </li>
          <li class="footer-social-item">
            <a href="http://facebook.com/zofepod">
              <img src="/assets/img/social-icons/facebook.svg" class="footer-social-item-icon">
            </a>
          </li>
        </ul>
      </div>



      <div class="footer-feeds col-md-4 column">
        <h6 class="footer-feeds-title">Links</h6>
        <ul class="footer-feeds-list">
          <li class="footer-feed-item">
            <a href="http://zofe.com.br/feed/podcast.xml" class="footer-feed-link" title="Podcast (AAC/M4A)">
              link 1
            </a>
          </li>
          <li class="footer-feed-item">
            <a href="itpc://zofe.com.br/feed/podcast.xml" class="footer-feed-link" title="Podcast (iTunes)">
              link2
            </a>
          </li>
          <li class="footer-feed-item">
            <a href="http://zofe.com.br/feed/posts.xml" class="footer-feed-link" title="Posts">
              link 3
            </a>
          </li>
        </ul>
      </div>




      <div class="footer-support col-md-4 column">
        <h6 class="footer-support-title">Um produto:</h6>
        <a href="http://lab85.com.br" class="footer-support-link">
          <img src="/images/logo-lab.svg" class="footer-support-logo" alt="BrazilJS">
        </a>
      </div>
    </div>
  </div>



</footer>
<div class="footer-copyright-wrapper">
  <div class="footer-copyright-container container">
    <div class="row">
      <p class="footer-copyright">
        © 2015 Academi.as - Todos os direitos reservados - Design por <a href="http://wmitrut.github.io">WMITRUT</a>
      </p>
    </div>
  </div>
</div>
