---
title: Conheça
---
<div class="hero">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo_large.png"</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://alunos.academi.as/" class="header_button_transparent">Alunos</a></li>
          <li><a href="/conheca" class="header_button_transparent">Conheça</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="/registrar" class="header_button_transparent">Iniciar 15 dias grátis</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 class="animated fadeIn">Conheça a solução completa para sua academia </h1>
    <img class="animated fadeIn macademia" src="/images/macacademia.png">
  </div>
</div>
<div class="conheca_second container ">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>
  </div>
  <div class="container-fluid conheca_item_1">
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_1.png"/>
      <p>Lista de Exercícios via celular e tablets</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_2.png"/>
      <p> Após a formação da lista de exercícios pelo professor, esta fica disponível em um aplicativo no celular do aluno.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_3.png"/>
      <p>Controle o acesso com verificação de status de matricula.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_4.png"/>
      <p>Usando um chaveiro codificado, cada um dos seus clientes poderá dar entrada no ambiente de sua academia.</p>
    </div>
  </div>
</div>
<div class="conheca_fourth">
      <h1>Melhorias Contínuas</h1>
      <p>Trabalhamos todos os dias para oferecer melhorias e novas funcionalidades e você desfrutará delas <b>sem custos adicionais</b>! É nosso compromisso!</p>
</div>
<div class="conheca_second">
      <h1>Totalmente integrado, 100% web! Seu sistema sempre atualizado.</h1>
      <h3>Com qualquer dispositivo ligado a internet é possível acessar o Academias e desfrutar de todos os controles deste poderoso ERP</h3>
      <img class="erp" src="/images/erp.png"/>
</div>
<hr>
<div class="conheca_second">
  <h1>Suporte gratuito via telefone</h1>
  <h3>Nossa equipe de suporte está a disposição para esclarecer dúvidas via telefone</h3>
    <img class="callcenter" src="/images/callcenter.jpg"/>
</div>
<hr>
<div class="conheca_third container">
  <h1>  As academias são mais do que um local de treino, são ambientes de socialização!</h1>
  <h3> Fato que faz da gestão, o assunto primordial para o negócio de academias.</h3>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/relation.jpg" alt="..."/>
      <div class="caption">
        <p>Integrado ao Academias certamente você terá resultados positivos!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/client.jpg" alt="..."/>
      <div class="caption">
        <p>Uma solução desenvolvida para que você tenha tudo sob controle, diminua a rotatividade e implemente o melhor resultado para seus clientes.</p>
        <p>Gestão de matrículas, presenças e treinos de forma organizada e automatizada!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/tabletcatraca.png" alt="...">
      <div class="caption">
        <p>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de todos os alunos.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/teachers.jpg" alt="...">
      <div class="caption">
        <p>Professores poderão ter acesso, formar e acompanhar o rendimento de seus alunos via relatório no Academias</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/tablets.png" alt="...">
      <div class="caption">
        <p>Os alunos poderão visualizar em tablets estrategicamente posicionados na academia e em seus celulares as listas de exercício, alterar cargas e informar exercícios concluídos.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/finance.jpg" alt="...">
      <div class="caption">
        <p>Relatório financeiros podem lhe auxiliar a definir a estratégia de seu negócio.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
.
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/matricula.jpg" alt="...">
      <div class="caption">
        <p>Gerencie suas matrícula identificando alunos inadimplentes, ausentes, podendo fazer um trabalho para tentar reconquistar alunos que perdeu.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
.
  </div>
</div>
<hr>
<div class="container conheca_second">
      <h1>Funcionalidades</h1>
      <h3>Clique abaixo e conheça as principais telas do sistema</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="conheca_list_item">
          <h3>Relatórios completos</h3>
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#tela01">Relatórios e gráficos financeiros, gerencial, extratos, contas a receber e a pagar</a>
              <div id="tela01" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li><a href="#" data-toggle="modal" data-target="#tela02">Relatórios de estoque, invetários, lista de preços, movimentações, produtos mais vendidos, pedidos e outros</a>
              <div id="tela02" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li><a href="#" data-toggle="modal" data-target="#tela03">Relatórios de alunos ativos por turma, matriculas ativas, inadimplentes e muito mais</a>

              <div id="tela03" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="conheca_list_item">
          <h3>Gestão de pessoas</h3>
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#tela04">Matrículas, acessos, Treinamentos e Cursos</a>

              <div id="tela04" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li><a href="#" data-toggle="modal" data-target="#tela05">Cadastre pessoas e matricule-as em diversas turmas</a>

              <div id="tela05" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li><a href="#" data-toggle="modal" data-target="#tela06">Controle de acesso integrado a catracas</a>

              <div id="tela06" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li><a href="#" data-toggle="modal" data-target="#tela07">Gerencie de atividades de sua academia, cursos e turmas</a>

              <div id="tela07" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li><a href="#" data-toggle="modal" data-target="#tela08">Crie seus próprios padrões de avaliação física.</a>

              <div id="tela08" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

          </li>
            <li><a href="#" data-toggle="modal" data-target="#tela09">Crie treinamentos modelo e personalize os treinos de seus aluno</a>

              <div id="tela09" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li><a href="#" data-toggle="modal" data-target="#tela10">Configure equipamentos, planos de descontos, grupos musculares, tipos de exercícios e de programas de treinamentos</a>

              <div id="tela10" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="/images/telas/01.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="conheca_list_item">

          <h3>Financeiro integrado</h3>
            <ul>
              <li><a href="#" data-toggle="modal" data-target="#tela11">Contas a pagar e receber</a>

                <div id="tela11" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li><a href="#" data-toggle="modal" data-target="#tela12">Várias maneiras de baixar as contas</a>

                <div id="tela12" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li><a href="#" data-toggle="modal" data-target="#tela13">Conciliação bancária</a>

                <div id="tela13" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li><a href="#" data-toggle="modal" data-target="#tela14">Reparcelamentos</a>

                <div id="tela14" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li><a href="#" data-toggle="modal" data-target="#tela16">Centros de custos e grupos de operação</a>

                <div id="tela16" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li><a href="#" data-toggle="modal" data-target="#tela17">Gestão de contas</a>

                <div id="tela17" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li><a href="#" data-toggle="modal" data-target="#tela18">Relatórios completos</a>

                <div id="tela18" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/telas/01.png" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <div class="conheca_list_item">
        <h3>Gerência de Estoque</h3>
        <ul>
          <li><a href="#" data-toggle="modal" data-target="#tela19">Gerenciamento de venda de produtos</a>

            <div id="tela19" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela20">Gere os pedidos de forma simplificada</a>

            <div id="tela20" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela21">Cadastre seus produtos separados por agrupamentos</a>

            <div id="tela21" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela22">Venda varios tipos de produtos sem se preocupar com gerencia-los</a>

            <div id="tela22" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <img class="logo_big_conheca" src="/images/logo_big.png"/>
    </div>
    <div class="col-md-4">
      <div class="conheca_list_item">
        <h3>Lista de exercícios no tablet e celular</h3>
        <ul>
          <li><a href="#" data-toggle="modal" data-target="#tela23">Acompanhe os exercícios propostos para o treino</a>

            <div id="tela23" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela24">Gerencie as cargas e tarefas realizadas dia a dia</a>

            <div id="tela24" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela25">Metrônomo para auxiliar realizar os exercícios ( apenas no celular do aluno )</a>

            <div id="tela25" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela26">Histórico de exercícios no calendário ( apenas no celular do aluno )</a>

            <div id="tela26" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela27">Situação financeira ( apenas no celular do aluno )</a>

            <div id="tela27" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li><a href="#" data-toggle="modal" data-target="#tela28">Grupos musculares</a>

            <div id="tela28" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="/images/telas/01.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

  <div class="sixth">
    <div class="container">
      <h1>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de seus alunos.</h1>
      <h3>Professores e alunos poderão visualizar em tablets espalhados pela academia e em seus celulares as listas de exercício, alterar cargas e informar ali seus treinos realizados.</h3>
    </div>
  </div>






<div class="conheca_second container">
  <h1>Sistemas de catracas integradas:</h1>
  <h3>Uma gama de sustemas de catracas que funcionam com o Academias para o seu controle de acesso.</h3>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/henry.png" alt="...">
        <div class="caption">
          <h3>Catracas 7x e 8x da Henry</h3>
          <p>Manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/topdata.png" alt="...">
        <div class="caption">
          <h3>Catracas TopData</h3>
          <p>Manual de instalação / onde encontrar</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tecnibra.png" alt="...">
        <div class="caption">
          <h3>Catracas Tecnibra</h3>
          <p>Manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/rfid.png" alt="...">
        <div class="caption">
          <h3>Chaves de Acesso RFID</h3>
          <p>Como funciona? / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tabletcatraca.png" alt="...">
        <div class="caption">
          <h3>Tablets para lista de exercícios.</h3>
          <p>Instalação / Pré-requisitos.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tablets.png" alt="...">
        <div class="caption">
          <h3>Tablets para ligação com catraca </h3>
          <p>Instalação / Pré-requisitos.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="conheca_second">


</div>
