---
title: Academi.as - Conheça
---

<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Conheça</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="mailto:suporte.academi.as" class="header_button_transparent">Registrar-se</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="animated fadeIn">A melhor solução para sua academia na sua mão.</h1>
    <h3>do acesso a academia ao resultado obtido pelo aluno, controle tudo com o Academi.as.
    </h3>
  </div>
</div>
<div class="conheca_second container ">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>
  </div>
    <div>

      <p>do acesso a academia ao resultado ob	tido pelo aluno, tudo será medido pelo Academi.as</p>
      <p>Lista de Exercícios via celular e tablets ( foto de um aluno verificando sua lista</p>
      <p> Após a formação da lista de exercícios pelo professor, ela fica disponível no app do aluno em seu celular, fica muito melhor organizar e medir os resultados.</p>
      <p>Controle o acesso com verificação de status de matricula ( imagem que enfatiza a chave )</p>
      <p>Usando um chaveiro codificado, cada um dos seus clientes poderá dar entrada no ambiente</p> de sua academia ou estúdio.</p>
      <p>Totalmente integrado, 100% web! seu sistema sempre atualizado ( imagem da tela com a frases MELHORIAS CONTÍNUAS )</p>
      <p>Trabalhamos todos os dias para oferecer melhorias, e todas elas, você desfrutará sem custos adicionais, é nosso compromisso</p>
      <p>Sua empresa na palma da sua mão, financeiro, estoque e matrículas ( imagem de um treinador com um tablet viajando )</p>
      <p>com qualquer dispositivo ligado a internet será possível logar no ACADEMI.AS  e desfrutar de todos os controles de um poderoso ERP</p>
      <p>Suporte gratuito via telefone ( imagem de técnicos sorrindo )</p>
      <p>Nossa equipe de suporte está a disposição para esclarecer dúvidas via telefone</p>
      <p>Instalamos e treinamos sua equipe para garantir sua satisfação completa! ( uma foto de uma pessoa cansada de fazer exercíos feliz heheh )</p>
      <p>Ao adquirir o ACADEMI.AS, uma consultoria de implantação será oferecida com treinamento e suporte a instalação.</p>
      <h4>Conheça</h4>
      <p>As academias ja são mais do que um local de treino, são ambientes de socialização! Fato que faz da gestão, o assunto primordial para o negócio de academias. Integrando seu relacionamento ao ACADEMI.AS certamente terá resultados positivos, ao oferecer sistema de matriculas, presenças e treinos de forma organizada e automatizada!</p>
      <p>Uma solução desenvolvida para que você tenha tudo sob controle, diminua a rotatividade e implemente o melhor resultado para seus clientes.</p>
      <p>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de todos os alunos.</p>
      <p>Professores poderão ter acesso, formar e acompanhar o rendimento de seus alunos via relatório nos ACADEMI.AS</p>
      <p>Os alunos poderão visualizar em tables espalhados pela academia ou em seus celulares as listas de exercício, alterar suas cargas e informar ali seus treinos realizados.</p>
      <p>Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.</p>
      <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>

      <h4>Funcionalidades - Seu negócio visto por todos os ângulos! isso faz toda a diferença!<h4>
        <p>gráfico do fluxo de caixa</p>
        <p>status das matriculas</p>
        <p>fonte das receitas</p>
      notificações
      etc..
      Gestão de pessoas, matrículas, acessos, Treinamentos e Cursos
      Imagem com menu cadastro aberto
      cadastre pessoas e suas matrículas
      controle de acesso integrado a catracas
      gerencie de atividades de sua academia, cursos e turmas
      relacione a antropometria com grupos de medidas
      crie treinos pré-definidos e especifique alterações para cada aluno
      configure seus equipamentos, descontos padrões para os planos estendidos, grupos musculares, tipos de exercícios e programas de treinamentos
      Financeiro integrado
      magem da tela com menu financeiroi
      contas a pagar e receber
      varias maneiras de baixar as contas
      conciliação bancária
      geração de reparcelamentos
      emissão de notas fiscais
      centros de custos e grupos de operação
      diversas contas
      relatórios completos
      Gerenciamento de venda de produtos
      imagem da tela com menu produtos
      gere os pedidos de forma simplificada
      cadastre seus produtos separados por agrupamentos
      venda varios tipos de produtos sem se preocupar com gerencia-los
      Relatórios completos
      imagem de uma tela com menu relatório aberto
      relatórios financeiros gerencial, de boletos, extratos, a pagar e receber
      relatórios do estoque, invetários lista de preços movimentações, mais comprados ou vendidos, pedidos e notas, ncm e outros
      alunos ativos por turma, matriculados, matriculas abandonadas, matriculas ativas, e muito mais
      Lista de exercícios no tablet e celular
      imagem da tela da lisita de exercícios
      acompanhe os exercícios propostos para o treino
      gerencie as cargas e tarefas realizadas dia a dia
      metrônomo para auxiliar realizar os exercícios ( apenas no celular do aluno )
      histórico de exercícios no calendário ( apenas no celular do aluno )
      situação financeira ( apenas no celular do aluno )
      grupos musculares

    </div>
  </div>

  <div class="sixth">
    <div class="container">
      <h1>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de seus alunos.</h1>
      <h3>Professores e alunos poderão visualizar em tablets espalhados pela academia e em seus celulares as listas de exercício, alterar cargas e informar ali seus treinos realizados.</h3>
    </div>
  </div>


<div class="conheca_third container">
  <h1>  As academias ja são mais do que um local de treino, são ambientes de socialização!</h1>
  <h3> Fato que faz da gestão, o assunto primordial para o negócio de academias.</h3>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..."/>
      <div class="caption">
        <p>Integrando seu relacionamento ao ACADEMI.AS certamente terá resultados positivos, ao oferecer sistema de matriculas, presenças e treinos de forma organizada e automatizada!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..."/>
        <div class="caption">
          <p>Uma solução desenvolvida para que você tenha tudo sob controle, diminua a rotatividade e implemente o melhor resultado para seus clientes.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de todos os alunos.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Professores poderão ter acesso, formar e acompanhar o rendimento de seus alunos via relatório nos ACADEMI.AS</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Os alunos poderão visualizar em tables espalhados pela academia ou em seus celulares as listas de exercício, alterar suas cargas e informar ali seus treinos realizados.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.</p>
        </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
        </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
      </div>
    </div>
  </div>
</div>



<div class="conheca_second container">
  <h1>Sistemas de catracas integradas:</h1>
  <h3>Uma gama de sustemas de catracas que funcionam com o Academi.as para o seu controle de acesso.</h3>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/henry.png" alt="...">
        <div class="caption">
          <h3>Catracas 7x e 8x da Henry</h3>
          <p>Baixe o manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/topdata.png" alt="...">
        <div class="caption">
          <h3>Catracas TopData</h3>
          <p>Baixe o manual de instalação / onde encontrar</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tecnibra.png" alt="...">
        <div class="caption">
          <h3>Catracas Tecnibra</h3>
          <p>Baixe manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/rfid.png" alt="...">
        <div class="caption">
          <h3>Chaves de Acesso RFID</h3>
          <p>Baixe manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tablets.png" alt="...">
        <div class="caption">
          <h3>Tablets para lista de exercícios.</h3>
          <p>Baixe manual de pré-requisitos / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tabletcatraca.png" alt="...">
        <div class="caption">
          <h3>Tablets para ligação com catraca </h3>
          <p>Baixe manual de pré-requisitos / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="conheca_second">


</div>
