---
title: Academi.as - Conheça
---

<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Conheça</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="mailto:suporte.academi.as" class="header_button_transparent">Registrar-se</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="animated fadeIn">A melhor solução para sua academia na sua mão.</h1>
    <h3>do acesso a academia ao resultado obtido pelo aluno, controle tudo com o Academi.as.
    </h3>
  </div>
</div>

<div class="conheca_second container ">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>
  </div>
  <div class="container-fluid conheca_item_1">
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_1.png"/>
      <p>Lista de Exercícios via celular e tablets</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_2.png"/>
      <p> Após a formação da lista de exercícios pelo professor, ela fica disponível no app do aluno em seu celular, fica muito melhor organizar e medir os resultados.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_3.png"/>
      <p>Controle o acesso com verificação de status de matricula.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="/images/gym_4.png"/>
      <p>Usando um chaveiro codificado, cada um dos seus clientes poderá dar entrada no ambiente de sua academia ou estúdio.</p>
    </div>
  </div>
</div>

<div class="conheca_fourth">
      <h1>Melhorias Contínuas</h1>
      <p>Trabalhamos todos os dias para oferecer melhorias, e todas elas, você desfrutará <b>sem custos adicionais</b>, é nosso compromisso.</p>
</div>
<div class="conheca_second">
      <h1>Totalmente integrado, 100% web! seu sistema sempre atualizado</h1>
      <h3>com qualquer dispositivo ligado a internet será possível logar no ACADEMI.AS  e desfrutar de todos os controles de um poderoso ERP</h3>
      <img src="/images/erp.png"/>
</div>
<hr>
<div class="conheca_second">
  <h1>Suporte gratuito via telefone</h1>
  <h3>Nossa equipe de suporte está a disposição para esclarecer dúvidas via telefone</h3>
    <img src="/images/callcenter.jpg"/>
</div>
<hr>
<div class="conheca_fourth">
  <h1>Instalamos e treinamos sua equipe para garantir sua satisfação completa!</h1>
  <h3>Ao adquirir o ACADEMI.AS, uma consultoria de implantação será oferecida com treinamento e suporte a instalação.</h3>
</div>
<hr>
<div class="conheca_third container">
  <h1>  As academias ja são mais do que um local de treino, são ambientes de socialização!</h1>
  <h3> Fato que faz da gestão, o assunto primordial para o negócio de academias.</h3>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/relation.jpg" alt="..."/>
      <div class="caption">
        <p>Integrando seu relacionamento ao ACADEMI.AS certamente terá resultados positivos, ao oferecer sistema de matriculas, presenças e treinos de forma organizada e automatizada!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/client.jpg" alt="..."/>
      <div class="caption">
        <p>Uma solução desenvolvida para que você tenha tudo sob controle, diminua a rotatividade e implemente o melhor resultado para seus clientes.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/tabletcatraca.png" alt="...">
      <div class="caption">
        <p>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de todos os alunos.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/teachers.jpg" alt="...">
      <div class="caption">
        <p>Professores poderão ter acesso, formar e acompanhar o rendimento de seus alunos via relatório nos ACADEMI.AS</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/tablets.png" alt="...">
      <div class="caption">
        <p>Os alunos poderão visualizar em tablets espalhados pela academia ou em seus celulares as listas de exercício, alterar suas cargas e informar ali seus treinos realizados.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/finance.jpg" alt="...">
      <div class="caption">
        <p>Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/conheca/matricula.jpg" alt="...">
      <div class="caption">
        <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container conheca_second">
      <h1>Funcionalidades</h1>
      <h3>Seu negócio visto por todos os ângulos! isso faz toda a diferença!</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="conheca_list_item">
          <h3>Relatórios completos</h3>
          <p>Relatórios financeiros gerencial, de boletos, extratos, a pagar e receber</p>
          <p>Relatórios do estoque, invetários lista de preços movimentações, mais comprados ou vendidos, pedidos e notas, ncm e outros</p>
          <p>Alunos ativos por turma, matriculados, matriculas abandonadas, matriculas ativas, e muito mais</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="conheca_list_item">
          <h3>Gestão de pessoas</h3>
          <p>matrículas, acessos, Treinamentos e Cursos</p>
          <p>cadastre pessoas e suas matrículas</p>
          <p>controle de acesso integrado a catracas</p>
          <p>gerencie de atividades de sua academia, cursos e turmas</p>
          <p>relacione a antropometria com grupos de medidas</p>
          <p>crie treinos pré-definidos e especifique alterações para cada aluno</p>
          <p>configure seus equipamentos, descontos padrões para os planos estendidos, grupos musculares, tipos de exercícios e programas de treinamentos</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="conheca_list_item">
          <h3>Financeiro integrado</h3>
          <p>contas a pagar e receber</p>
          <p>varias maneiras de baixar as contas</p>
          <p>conciliação bancária</p>
          <p>geração de reparcelamentos</p>
          <p>emissão de notas fiscais</p>
          <p>centros de custos e grupos de operação</p>
          <p>diversas contas</p>
          <p>relatórios completos</p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <div class="conheca_list_item">
        <h3>Gerência de Estoque</h3>
        <p>Gerenciamento de venda de produtos</p>
        <p>Gere os pedidos de forma simplificada</p>
        <p>Cadastre seus produtos separados por agrupamentos</p>
        <p>Venda varios tipos de produtos sem se preocupar com gerencia-los</p>
      </div>
    </div>

    <div class="col-md-4">
      <img class="logo_big_conheca" src="/images/logo_big.png"/>
    </div>
    <div class="col-md-4">
      <div class="conheca_list_item">
        <h3>Lista de exercícios no tablet e celular</h3>
        <p>acompanhe os exercícios propostos para o treino</p>
        <p>Gerencie as cargas e tarefas realizadas dia a dia</p>
        <p>Metrônomo para auxiliar realizar os exercícios ( apenas no celular do aluno )</p>
        <p>Histórico de exercícios no calendário ( apenas no celular do aluno )</p>
        <p>Situação financeira ( apenas no celular do aluno )</p>
        <p>Grupos musculares</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

  <div class="sixth">
    <div class="container">
      <h1>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de seus alunos.</h1>
      <h3>Professores e alunos poderão visualizar em tablets espalhados pela academia e em seus celulares as listas de exercício, alterar cargas e informar ali seus treinos realizados.</h3>
    </div>
  </div>






<div class="conheca_second container">
  <h1>Sistemas de catracas integradas:</h1>
  <h3>Uma gama de sustemas de catracas que funcionam com o Academi.as para o seu controle de acesso.</h3>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/henry.png" alt="...">
        <div class="caption">
          <h3>Catracas 7x e 8x da Henry</h3>
          <p>Baixe o manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/topdata.png" alt="...">
        <div class="caption">
          <h3>Catracas TopData</h3>
          <p>Baixe o manual de instalação / onde encontrar</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tecnibra.png" alt="...">
        <div class="caption">
          <h3>Catracas Tecnibra</h3>
          <p>Baixe manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/rfid.png" alt="...">
        <div class="caption">
          <h3>Chaves de Acesso RFID</h3>
          <p>Baixe manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tabletcatraca.png" alt="...">
        <div class="caption">
          <h3>Tablets para lista de exercícios.</h3>
          <p>Baixe manual de pré-requisitos / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tablets.png" alt="...">
        <div class="caption">
          <h3>Tablets para ligação com catraca </h3>
          <p>Baixe manual de pré-requisitos / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="conheca_second">


</div>
