---
title: Academi.as - Conheça
---

<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Conheça</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="mailto:suporte.academi.as" class="header_button_transparent">Registrar-se</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="animated fadeIn">A melhor solução para sua academia na sua mão.</h1>
    <h3>do acesso a academia ao resultado obtido pelo aluno, controle tudo com o Academi.as.
    </h3>
  </div>
</div>
<div class="conheca_second container ">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>
  </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/images/catracas/henry.png" alt="...">
          <div class="caption">
            <h3>Catracas 7x e 8x da Henry</h3>
            <p>Baixe o manual de instalação / onde encontrar.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/images/catracas/topdata.png" alt="...">
          <div class="caption">
            <h3>Catracas TopData</h3>
            <p>Baixe o manual de instalação / onde encontrar</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/images/catracas/tecnibra.png" alt="...">
          <div class="caption">
            <h3>Catracas Tecnibra</h3>
            <p>Baixe manual de instalação / onde encontrar.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/images/catracas/rfid.png" alt="...">
          <div class="caption">
            <h3>Chaves de Acesso RFID</h3>
            <p>Baixe manual de instalação / onde encontrar.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/images/catracas/tablets.png" alt="...">
          <div class="caption">
            <h3>Tablets para lista de exercícios.</h3>
            <p>Baixe manual de pré-requisitos / onde encontrar.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Tablets para ligação com catraca </h3>
            <p>Baixe manual de pré-requisitos / onde encontrar.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


<div class="conheca_third container">
  <h1>  As academias ja são mais do que um local de treino, são ambientes de socialização!</h1>
  <h3> Fato que faz da gestão, o assunto primordial para o negócio de academias.</h3>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..."/>
      <div class="caption">
        <p>Integrando seu relacionamento ao ACADEMI.AS certamente terá resultados positivos, ao oferecer sistema de matriculas, presenças e treinos de forma organizada e automatizada!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..."/>
        <div class="caption">
          <p>Uma solução desenvolvida para que você tenha tudo sob controle, diminua a rotatividade e implemente o melhor resultado para seus clientes.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de todos os alunos.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Professores poderão ter acesso, formar e acompanhar o rendimento de seus alunos via relatório nos ACADEMI.AS</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Os alunos poderão visualizar em tables espalhados pela academia ou em seus celulares as listas de exercício, alterar suas cargas e informar ali seus treinos realizados.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
        <div class="caption">
          <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )</p>
        </div>
    </div>
  </div>

</div>


<div class="conheca_second container">
  <h1>Sistemas de catracas integradas:</h1>
  <h3>Uma gama de sustemas de catracas que funcionam com o Academi.as para o seu controle de acesso.</h3>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/henry.png" alt="...">
        <div class="caption">
          <h3>Catracas 7x e 8x da Henry</h3>
          <p>Baixe o manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/topdata.png" alt="...">
        <div class="caption">
          <h3>Catracas TopData</h3>
          <p>Baixe o manual de instalação / onde encontrar</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tecnibra.png" alt="...">
        <div class="caption">
          <h3>Catracas Tecnibra</h3>
          <p>Baixe manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/rfid.png" alt="...">
        <div class="caption">
          <h3>Chaves de Acesso RFID</h3>
          <p>Baixe manual de instalação / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tablets.png" alt="...">
        <div class="caption">
          <h3>Tablets para lista de exercícios.</h3>
          <p>Baixe manual de pré-requisitos / onde encontrar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/catracas/tabletcatraca.png" alt="...">
        <div class="caption">
          <h3>Tablets para ligação com catraca </h3>
          <p>Baixe manual de pré-requisitos / onde encontrar.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="conheca_second">


</div>
