---
title: Academi.as - Conheça
---

<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Conheça</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="mailto:suporte.academi.as" class="header_button_transparent">Registrar-se</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="animated fadeIn">A melhor solução para sua academia na sua mão.</h1>
    <h3>do acesso a academia ao resultado obtido pelo aluno, controle tudo com o Academi.as.
    </h3>
  </div>
</div>
<div class="conheca_second">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Itens do academi.as</h3>
          <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Curabitur blandit mollis lacus. Nunc nec neque. Nunc sed turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Itens do academi.as</h3>
          <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Curabitur blandit mollis lacus. Nunc nec neque. Nunc sed turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Itens do academi.as</h3>
          <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Curabitur blandit mollis lacus. Nunc nec neque. Nunc sed turpis.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Itens do academi.as</h3>
          <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Curabitur blandit mollis lacus. Nunc nec neque. Nunc sed turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Itens do academi.as</h3>
          <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Curabitur blandit mollis lacus. Nunc nec neque. Nunc sed turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Itens do academi.as</h3>
          <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Curabitur blandit mollis lacus. Nunc nec neque. Nunc sed turpis.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="conheca_second">
  As academias ja são mais do que um local de treino, são ambientes de socialização! Fato que faz da gestão, o assunto primordial para o negócio de academias. Integrando seu relacionamento ao ACADEMI.AS certamente terá resultados positivos, ao oferecer sistema de matriculas, presenças e treinos de forma organizada e automatizada!
  Uma solução desenvolvida para que você tenha tudo sob controle, diminua a rotatividade e implemente o melhor resultado para seus clientes.
  Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de todos os alunos.
  Professores poderão ter acesso, formar e acompanhar o rendimento de seus alunos via relatório nos ACADEMI.AS
  Os alunos poderão visualizar em tables espalhados pela academia ou em seus celulares as listas de exercício, alterar suas cargas e informar ali seus treinos realizados.
  Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.
  Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline )

</div>
<div class="conheca_second">
  <h1>Sistemas de catracas integradas:</h1>
  <h3>Uma gama de sustemas de catracas que funcionam com o Academi.as para o seu controle de acesso.</h3>
  <p>catracas 7x e 8x da heny ( baixe manual de instalação / onde encontrar )
    top data ( baixe manual de instalação / onde encontrar )
    tecnibra ( baixe manual de instalação / onde encontrar )
    chave AbaTrack ( baixe manual de instalação / onde encontrar )
    tablets para lista de exercício ( baixe manual de pré-requisitos / onde encontrar )
    tablets para ligação com catraca ( baixe manual de pré-requisitos / onde encontrar )
  </p>
</div>
<div class="conheca_second">

  Funcionalidades - Seu negócio visto por todos os ângulos! isso faz toda a diferença!
  Resumo das principais situações da academia
  imagem Dashboard
  gráfico do fluxo de caixa
  status das matriculas
  fonte das receitas
  notificações
  etc..
  Gestão de pessoas, matrículas, acessos, Treinamentos e Cursos
  Imagem com menu cadastro aberto
  cadastre pessoas e suas matrículas
  controle de acesso integrado a catracas
  gerencie de atividades de sua academia, cursos e turmas
  relacione a antropometria com grupos de medidas
  crie treinos pré-definidos e especifique alterações para cada aluno
  configure seus equipamentos, descontos padrões para os planos estendidos, grupos musculares, tipos de exercícios e programas de treinamentos
  Financeiro integrado
  magem da tela com menu financeiroi
  contas a pagar e receber
  varias maneiras de baixar as contas
  conciliação bancária
  geração de reparcelamentos
  emissão de notas fiscais
  centros de custos e grupos de operação
  diversas contas
  relatórios completos
  Gerenciamento de venda de produtos
  imagem da tela com menu produtos
  gere os pedidos de forma simplificada
  cadastre seus produtos separados por agrupamentos
  venda varios tipos de produtos sem se preocupar com gerencia-los
  Relatórios completos
  imagem de uma tela com menu relatório aberto
  relatórios financeiros gerencial, de boletos, extratos, a pagar e receber
  relatórios do estoque, invetários lista de preços movimentações, mais comprados ou vendidos, pedidos e notas, ncm e outros
  alunos ativos por turma, matriculados, matriculas abandonadas, matriculas ativas, e muito mais
  Lista de exercícios no tablet e celular
  imagem da tela da lisita de exercícios
  acompanhe os exercícios propostos para o treino
  gerencie as cargas e tarefas realizadas dia a dia
  metrônomo para auxiliar realizar os exercícios ( apenas no celular do aluno )
  histórico de exercícios no calendário ( apenas no celular do aluno )
  situação financeira ( apenas no celular do aluno )
  grupos musculares

</div>
