---
title: Contato
---
<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo_large.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/registrar" class="header_button_transparent">Iniciar 30 dias grátis</a></li>
          <li><a href="/conheca" class="header_button_transparent">Saiba Mais</a></li>
          <li><a href="/planos" class="header_button_transparent">Planos</a></li>
          <li><a href="/contato" class="header_button_transparent">Contato</a></li>
          <li><a href="http://alunos.academi.as/" class="header_button_transparent">Alunos</a></li>
          <li><a href="http://novo.academi.as/" class="header_button_transparent">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h3>Para entrar em contato basta enviar email para:</h3>
    <h2>contato@academi.as</h2>
    <h3>É possivel ligar para nosso telefone:</h3>
    <h2>+55 (46) 3057 3030</h2>
    <h3>Ou visite uma de nossas contas sociais clicando e um dos links abaixo:</h3>
    <div class="container col-md-12"/></div>
    <div class="container col-md-12"/>
    </div>

   <div class="contato-social col-md-12">
        <h4><b>Social</b></h4>
        <ul>

          <li>
            <a href="http://twitter.com/lab85">
              <span class="fa fa-twitter contato-icon"/>
            </a>
          </li>

          <li>
            <a href="http://facebook.com/lab85">
              <span class="fa fa-facebook contato-icon"/>
            </a>
          </li>

          <li>
            <a href="skype:suporte.academi.as">
              <span class="fa fa-skype contato-icon"/>
            </a>
          </li>

          <li>
            <a href="mailto:contato@academi.as">
              <span class="fa fa-envelope-o contato-icon"/>
            </a>
          </li>

        </ul>
      </div>

    <div class="container col-md-3"/></div>
  </div>
