---
title: Academi.as - Conheça
---

<div class="hero">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://alunos.academi.as/" class="header_button_transparent">Alunos</a></li>
          <li><a href="/conheca" class="header_button_transparent">Conheça</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="/registrar" class="header_button_transparent">Iniciar 15 dias grátis</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">
      <h1 class="animated fadeIn">Instalamos e treinamos sua equipe para garantir sua satisfação completa!</h1>
      <h3>Ao adquirir o ACADEMI.AS, uma consultoria de implantação será oferecida com treinamento e suporte a instalação.</h3>
    </div>
</div>

<div class="implantacao_second container">
  <h1 class="animated fadeIn">Ao solicitar o academi.as fazemos a implantação.</h1>
  <h3>Ao adquirir o ACADEMI.AS, uma consultoria de implantação será oferecida com treinamento e suporte a instalação, confira abaixo os planos de implantação.</h3>
<div class="row">
  <div class="col-md-4 completo">
    <div class="plan">
      <div class="head">
        <img src="/images/logo_large.png"/>
        <h2>Implantação simples</h2>
        <h5>(Obrigatório)</h5>
      </div>
      <ul class="item-list">
        <li>Treinamento para implantação</li>
        <li><b>4 horas</b> de treinamento e consultoria via <b>Skype</b></li>
      </ul>
      <div class="price">
        <h3><span class="symbol">R$ </span>788,00</h3>
      </div>
      <div class="paypal_div">
        <h3>Solicite com nossos consultores</h3>
      </div>

    </div>
  </div>

  <div class="col-md-4 completo">
    <div class="plan">
      <div class="head">
        <img src="/images/logo_large.png"/>
        <h2>Treinamento e Consultoria Standard</h2>
        <h5>(Opcional)</h5>
      </div>
      <ul class="item-list">
        <li><b>6 horas</b> de treinamento via <b>Skype</b></li>
        <li><b>4 horas</b> de consultoria via <b>Skype</b></li>
      </ul>
      <div class="price">
        <h3><span class="symbol">2x R$ </span>788,00</h3>
      </div>
      <div class="paypal_div">
        <h3>Solicite com nossos consultores</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 completo">
    <div class="plan">
      <div class="head">
        <img src="/images/logo_large.png"/>
        <h2>Presencial</h2>
        <h5>( 3 dias contando viagem )</h5>
      </div>
      <ul class="item-list">
        <li>+ Despesas com deslocamento e hospedágem de nosso especialista.</li>
      </ul>
      <div class="price">
        <h3><span class="symbol"> 3X de R$ </span>788,00</h3>
      </div>
      <div class="paypal_div">
        <h3>Solicite com nossos consultores</h3>
      </div>

    </div>
  </div>
</div>
</div>
