---
title: Sistema de Gestão de Academias
description: O Sistema Academias é um software profissional completo para gerenciamento de academias. A melhor solução de gerenciamento para sua academia em suas mãos! Do controle de acesso ao resultado obtido pelo aluno. Controle tudo com o Academias. Integrado com tablets e smartphones permite uma experiência sem igual a seus clientes.

---
<div class="hero">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/images/logo_large.png"/></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Saiba Mais</a></li>
          <li><a href="#planos" class="header_button_transparent">Planos</a></li>
          <li><a href="/registrar" class="header_button_transparent">Iniciar 15 dias grátis</a></li>
          <li><a href="http://alunos.academi.as/" class="header_button_transparent">Alunos</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <img class="logo_home" src="/images/logo_home.png"/>
    <h1 class="animated fadeIn">A melhor solução de gerenciamento para sua academia em suas mãos!</h1>
    <h3>Do controle de acesso ao resultado obtido pelo aluno. Controle tudo com o Academias.
    </h3>
  </div>
  <a><span class="fa fa-chevron-down animated infinite wobble scroll"></span></a>
</div>
<div class="second container">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>Diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>
    <br>
    <h3>Alguns números do Academias:</h3>
        <div  class="estatistica col-md-12 row" >
          <div class="col-md-4">
            <h1 class="Count">11781</h1>
            <h3> Alunos </h3>
          </div>
          <div class="col-md-4">
            <h1 class="Count">773218</h1>
            <h3>Treinos Realizados</h3>
          </div>
          <div class="col-md-4">
            <h1 class="Count">14</h1>
            <h3> Unidades ativas </h3>
          </div>
      </div>
      <div class="calltoaction ">
        <a href="#plans" class="button_blue">Venha fazer parte!</a>
      </div>
  </div>
</div>
<hr>
<div class="third">
  <div>
    <h1>Totalmente integrado, 100% web! Seu sistema sempre atualizado.</h1>
    <h3>Trabalhamos todos os dias para oferecer novas melhorias e funcionalidades e você desfrutará delas sem custos adicionais! É nosso compromisso.</h3>

      <img src="/images/mac.png"/>
  </div>
</div>
<div class="sixth">
  <div class="container">
    <h1>Listas de exercícios dinâmicas e sempre atualizadas que permitirão você se aproximar ainda mais do treino de seus alunos.</h1>
    <img src="/images/telas/lista.png">
    <h3>Professores e alunos poderão visualizar em tablets estrategicamente posicionados na academia e em seus celulares as listas de exercício, alterar cargas e informar exercícios concluídos.</h3>
  </div>
</div>
<div class="fifth">
  <div class="container">
    <h1>Sua empresa na palma da sua mão, financeiro, estoque e matrículas</h1>
    <h3>Com qualquer dispositivo ligado a internet é possível acessar o Academias e desfrutar de todos os controles deste poderoso ERP.</h3>
      <div class="browser-mockup with-url">
        <img src="/images/screen.png"/>
      </div>
  </div>
</div>
<hr>
<div class="eighth">
  <div class="container">
    <h1>Testemunhos de alguns de nossos clientes sobre as vantagens de usar o Academias</h1>
    <div id="testimonial" class="col-md-12 row testimonials container-fluid" >

      <div class="col-md-4 animated fadeInUp testimonial">
        <img src="/images/testimonials/marty.jpg" class="testimonial_img"></img>
        <h3> Magnus Sousa</h3>
        <h4>Personal trainer</h4>
        <p>"Phasellus viverra nulla ut metus varius laoreet. Praesent congue erat at massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos."</p>
      </div>
      <div class="col-md-4 animated fadeInUp testimonial">
        <img src="/images/testimonials/doc.jpg" class="testimonial_img"></img>
        <h3> Doctor Brown </h3>
        <h4>Gerente - Academia maluca</h4>
        <p>Phasellus viverra nulla ut metus varius laoreet. Praesent congue erat at massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. </p>
      </div>
      <div class="col-md-4 animated fadeInUp testimonial">
        <img src="/images/testimonials/delorean.jpg" class="testimonial_img"></img>
        <h3> DeLorean</h3>
        <h4>Professor - Academia do tempo</h4>
        <p>Phasellus viverra nulla ut metus varius laoreet. Praesent congue erat at massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="seventh">
  <div class="container">
    <h1>Seu negócio visto por todos os ângulos! Isso faz toda a diferença!</h1>
    <h3>Do acesso a academia ao resultado obtido pelo aluno, tudo será registrado pelo Academias.</h3>
    <div  class="col-md-12 row" >
      <div class="col-log-3 col-md-6 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-lock "></span>
        <h3>Controle de acesso </h3>
        <p>Seus clientes irão acessar o ambiente da academia ou estúdio, utilizando um chaveiro codificado (RFID).</p>
      </div>
      <div class="col-log-3 col-md-6 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-money"></span>
        <h3> Controle Financeiro  </h3>
        <p>Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.</p>
      </div>
      <div class="col-log-3 col-md-12 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-cogs"></span>
        <h3>Instalamos e treinamos sua equipe</h3>
        <p>Ao adquirir o Academias, uma consultoria de implantação será oferecida com treinamento e suporte a instalação para garantir sua satisfação completa!</p>
        <a href="./implantacao">Clique aqui e veja os planos de implantação</a>
      </div>
    </div>
  </div>
</div>
<div class="fourth" id="plans">
  <div class="container">
    <h1 id="planos">Confira nossos planos:</h1>

    <h3>Teste grátis por <b>15 dias</b>. Após isto, confira qual melhor plano do Academias se encaixa com as suas necessidades!</h3>
      <div class="col-md-4 completo">
        <div class="plan">
          <div class="head">
            <img src="/images/logo_large.png"/>
            <h2>Plano Full* </h2>
          </div>
          <ul class="item-list">
            <li>Experimente gratuitamente agora mesmo por <b>15 dias!</b>
            </li>
              <li>Sistema <strong>Completo </strong></li>
              <li><strong>Suporte</strong> Ilimitado</li>
              <li>De R$<b>788,00</b>, com desconto de <strong>40%</strong> somente este mês:</li>
            </ul>
            <div class="price">
              <h3><span class="symbol">R$ </span>472,8**</h3>
              <h4>mensais***</h4>
              <h6>* Para academias com até 600 alunos. </h6>
              <h6>** Implantação e consultorias não inclusas.</h6>
              <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal.</h6>
            </div>
          <a href="/planofull"> <button type="button" class="btn btn-success">Adquirir Agora!</button></a>
          </div>
        </div>
        <div class="col-md-4 master">
          <div class="plan">
            <div class="head">
              <img src="/images/logo_large.png"/>
              <h2>Módulo ERP*</h2>
            </div>
            <ul class="item-list">
              <li><strong>ERP</strong> de controle administrativo</li>
              <li>Controle Acessos</li>
              <li>Controle de Estoque</li>
              <li>Controle Financeiro</li>
              <li>Controle de alunos, turmas e treinamentos</li>
              <li>De R$<b>525,33</b> com desconto de <b>25%</b> somente este mês:</li>
            </ul>
              <div class="price">
                <h3><span class="symbol">R$ </span>394,00**</h3>
                <h4>mensais***</h4>
                <h6>* Para academias com até 600 alunos. </h6>
                <h6>** Implantação e consultorias não inclusas </h6>
                <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal </h6>
              </div>
              <a href="/planoerp">  <button type="button" class="btn btn-success">Adquirir Agora!</button></a>
            </div>
          </div>

          <div class="col-md-4 master">
            <div class="plan">
              <div class="head">
                <img src="/images/logo_large.png"/>
                <h2>Módulo Básico*</h2>
              </div>
              <ul class="item-list">
                <li><strong>ERP</strong> de controle administrativo básico</li>
                <li>Controle Financeiro</li>
                <li>Controle de alunos, turmas e matrículas</li>
                <li>De R$<b>350,22</b> com desconto de <b>25%</b> somente este mês:</li>
              </ul>
              <div class="price">
                <h3><span class="symbol">R$ </span>260,66**</h3>
                <h4>mensais***</h4>
                <h6>* Para academias com até 600 alunos. </h6>
                <h6>** Implantação e consultorias não inclusas </h6>
                <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal </h6>
              </div>
              <a href="/planobasico">  <button type="button" class="btn btn-success">Adquirir Agora!</button></a>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
</div>
<hr>
<div class="nineth">
  <div class="container">
    <h1>Entre em contato com um de nossos consultores.</h1>
    <h2><a href="tel:046 3057 3030">Telefone: (46) 3057 3030</a></h2>
    <h2><a href="mailto:contato@academi.as">E-mail: contato@academi.as</a></h2>
    <div id="form-main" style="display: none;">
      <div id="form-div">
        <form class="form" id="form1">
          <div class="infos">
            <input name="name" type="text" class="col-md-6 col-xs-12 contact_field" placeholder="Nome" id="name" />
            <input name="email" type="text" class="col-md-6 col-xs-12 contact_field"  id="email" placeholder="E-mail" />
          </div>
            <textarea name="text" class="col-md-12 col-xs-12 contact_field" id="comment" placeholder="Mensagem"></textarea>
            <div class="submit">
              <input type="submit" value="Enviar" class="button_blue"/>
              <div class="ease"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
