---
title: Academi.as - Sistema de Gestão de Academias
---

<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
          <li><a href="mailto:suporte.academi.as" class="header_button_transparent">Registrar-se</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="animated fadeIn">Conheça a solução completa para sua academia </h1>
    <h3>do acesso a academia ao resultado obtido pelo aluno, controle tudo com o Academi.as.
    </h3>
    <div class="calltoaction">
      <a class="button_transparent">Clique abaixo e confira!</a>
    </div>
  </div>
  <a><span class="fa fa-chevron-down animated infinite pulse scroll"></span></a>
</div>

<div class="second container">
  <div>
    <h1>Uma solução desenvolvida para que você tenha tudo sob controle.</h1>
    <h3>diminua a rotatividade e implemente o melhor resultado para seus clientes.</h3>

        <div  class="estatistica col-md-12 row" >

          <div class="col-md-4">
            <h1 class="Count"> 12000</h1>
            <h3> Alunos </h3>
          </div>

          <div class="col-md-4">
            <h1 class="Count">15200</h1>
            <h3>Treinos Realizados</h3>
          </div>

          <div class="col-md-4">
            <h1 class="Count">12800</h1>
            <h3> Clientes satisfeitos </h3>
          </div>

      </div>
      <div class="calltoaction ">
        <a class="button_blue animated infinite pulse ">Venha fazer parte!</a>
      </div>
  </div>
</div>
<hr>

<div class="third">
  <div>
    <h1>Totalmente integrado, 100% web! seu sistema sempre atualizado.</h1>
    <h3>Trabalhamos todos os dias para oferecer melhorias, e todas elas, você desfrutará sem custos adicionais, é nosso compromisso.</h3>

      <img src="/images/mac.png"/>
  </div>
</div>

<div class="sixth">
  <div class="container">
    <h1>Listas de exercícios dinâmicas e sempre atualizadas, permitirão você se aproximar ainda mais do treino de seus alunos.</h1>
    <h3>Professores e alunos poderão visualizar em tablets espalhados pela academia e em seus celulares as listas de exercício, alterar cargas e informar ali seus treinos realizados.</h3>
  </div>
</div>

<div class="fifth">
  <div class="container">
    <h1>Sua empresa na palma da sua mão, financeiro, estoque e matrículas</h1>
    <h3>com qualquer dispositivo ligado a internet será possível logar no ACADEMI.AS  e desfrutar de todos os controles de um poderoso ERP.</h3>
      <div class="browser-mockup with-url">
        <img src="/images/screen.png"/>
      </div>
  </div>
</div>
<hr>
<div class="eighth">
  <div class="container">
    <h1>Testemunhos de alguns de nossos clientes sobre as vantagens de usar o Academi.as</h1>
    <div  class="col-md-12 row testimonials container-fluid" >

      <div class="col-md-4 animated fadeInUp testimonial">
        <img src="/images/testimonials/marty.jpg" class="testimonial_img"></img>
        <h3> Magnus Sousa</h3>
        <h4>Personal trainer</h4>
        <p>"Phasellus viverra nulla ut metus varius laoreet. Praesent congue erat at massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos."</p>
      </div>

      <div class="col-md-4 animated fadeInUp testimonial">
        <img src="/images/testimonials/doc.jpg" class="testimonial_img"></img>
        <h3> Doctor Brown </h3>
        <h4>Gerente - Academia maluca</h4>
        <p>Phasellus viverra nulla ut metus varius laoreet. Praesent congue erat at massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. </p>
      </div>

      <div class="col-md-4 animated fadeInUp testimonial">
        <img src="/images/testimonials/delorean.jpg" class="testimonial_img"></img>
        <h3> DeLorean</h3>
        <h4>Professor - Academia do tempo</h4>
        <p>Phasellus viverra nulla ut metus varius laoreet. Praesent congue erat at massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. </p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="seventh">

  <div class="container">

    <h1>Seu negócio visto por todos os ângulos! isso faz toda a diferença!</h1>
    <h3>do acesso a academia ao resultado ob	tido pelo aluno, tudo será medido pelo Academi.as.</h3>

    <div  class="col-md-12 row" >

      <div class="col-log-3 col-md-6 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-lock "></span>
        <h3>Controle de acesso </h3>
        <p>Usando um chaveiro codificado, cada um dos seus clientes poderá dar entrada no ambiente de sua academia ou estúdio.</p>
      </div>

      <div class="col-log-3 col-md-6 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-money"></span>
        <h3> Controle Financeiro  </h3>
        <p>Relatório financeiros podem lhe auxiliar a visualizar melhor a estratégia de seu negócio.</p>
      </div>

      <div class="col-log-3 col-md-6 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-users"></span>
        <h3> Gestão de matrículas </h3>
        <p>Gestão de matrículas de todos os setores da sua academia, o controle de todos os setores poderão ser feitos com um tablet ( mesmo-offline ).</p>
      </div>

      <div class="col-log-3 col-md-6 col-xs-12 animated fadeInUp">
        <span class="icon fa fa-cogs"></span>
        <h3>Instalamos e treinamos sua equipe</h3>
        <p>Ao adquirir o ACADEMI.AS, uma consultoria de implantação será oferecida com treinamento, suporte e instalação para garantir sua satisfação completa!</p>
      </div>

    </div>

  </div>

</div>


<div class="fourth">
  <div class="container">
    <h1>Confira nossos planos:</h1>
    <h3>Confira qual melhor plano do Academi.as se encaixa com as   suas necessidades!</h3>


      <div class="col-md-4 completo">
        <div class="plan">
          <div class="head">
            <img src="/images/logo_large.png"/>
            <h2>Plano Full* </h2>
          </div>
          <ul class="item-list">
            <li>Experimente gratuitamente agora mesmo por <b>15 dias!</b>
            </li>
              <li>Sistema <strong>Completo </strong></li>
              <li><strong>Suporte</strong> Ilimitado</li>
              <li>Desconto de <strong>40%</strong> somente este mês</li>
              <li>De R$<b>788,00</b> por:</li>
            </ul>
            <div class="price">
              <h3><span class="symbol">R$ </span>472,8**</h3>
              <h4>mensais***</h4>
              <h6>* Para academias com até 600 alunos. </h6>
              <h6>** Implantação e consultorias não inclusas.</h6>
              <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal.</h6>
            </div>
          <a href="/planofull"> <button type="button" class="btn btn-success">Adquirir Agora!</button></a>
          </div>
        </div>

        <div class="col-md-4 master">
          <div class="plan">
            <div class="head">
              <img src="/images/logo_large.png"/>
              <h2>Módulo ERP*</h2>
            </div>
            <ul class="item-list">
              <li><strong>ERP</strong> de controle administrativo</li>
              <li>Controle Acessos</li>
              <li>Controle de Estoque</li>
              <li>Controle Financeiro</li>
              <li>Controle de alunos, turmas e treinamentos</li>
              <li>Apenas este mês <b> 25% de desconto </b>
              <li>De R$<b>525,33</b> por:</li>
            </ul>
              <div class="price">
                <h3><span class="symbol">R$ </span>394,00**</h3>
                <h4>mensais***</h4>
                <h6>* Para academias com até 600 alunos. </h6>
                <h6>** Implantação e consultorias não inclusas </h6>
                <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal </h6>
              </div>
              <a href="/planoerp">  <button type="button" class="btn btn-success">Adquirir Agora!</button></a>
            </div>
          </div>

          <div class="col-md-4 master">
            <div class="plan">
              <div class="head">
                <img src="/images/logo_large.png"/>
                <h2>Módulos individuais*</h2>
              </div>
              <ul class="item-list">
                <li><b>Módulo de controle de acesso</b></li>
                <li> - Sistema integrado catraca + tablet</li>
                <a href="/planoacesso"><button type="button" class="btn btn-success">Adquirir Agora!</button></a>
                <hr>

                <li><b>Módulo de lista de exercícios</b></li>
                <li> - Lista de exercícios por tablet</li>
                <a href="/planolista"><button type="button" class="btn btn-success">Adquirir Agora!</button></a>
                <hr>

                <li><b>Módulo Aluno Smart</b></li>
                <li> - Aluno smart / smartphone</li>
                <li> - Interação social</li>
                <li> - Lista de exercício smart</li>
                <li> - Fotografia comparativa</li>
                <a href="/planosmart"><button type="button" class="btn btn-success">Adquirir Agora!</button></a>
                <hr>

                <li>Desconto de <strong>25%</strong> somente este mês</li>
                <li>De R$131,22 cada por:</li>
              </ul>
              <div class="price">
                <h3><span class="symbol">R$ </span>98,50**</h3>
                <h4>mensais***</h4>
                <h6>* Para academias com até 600 alunos. </h6>
                <h6>**Preço para CADA módulo individualmente. Implantação e consultorias não inclusas </h6>
                <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal </h6>
              </div>
            </div>
          </div>

        </div>



      </div>

</div>
</div>





<hr>

<div class="nineth">
  <div class="container">
    <h1>Solicite contato de um dos nossos consultores.</h1>
    <div id="form-main">
      <div id="form-div">
        <form class="form" id="form1">
          <div class="infos">

            <input name="name" type="text" class="col-md-6 col-xs-12 contact_field" placeholder="Nome" id="name" />


            <input name="email" type="text" class="col-md-6 col-xs-12 contact_field"  id="email" placeholder="E-mail" />
          </div>

            <textarea name="text" class="col-md-12 col-xs-12 contact_field" id="comment" placeholder="Mensagem"></textarea>

          <div class="submit">
            <input type="submit" value="Enviar" class="button_blue"/>
            <div class="ease"></div>
          </div>
        </form>
      </div>
  </div>
</div>
</div>
