---
title: Academi.as - Sistema de Gestão de Academias
---

<div class="hero">
  <div class="container">
    <h1 class="animated fadeIn">Conheça a solução completa para sua academia </h1>
    <h3>do acesso a academia ao resultado obtido pelo aluno, controle tudo com o Academi.as.
    </h3><!-- .doc -->
    <div class="calltoaction">
      <a class="button_transparent">Call to Action</a>
    </div>
  </div>
  <a><span class="fa fa-chevron-down animated infinite pulse scroll"></span></a>
</div><!-- .welcome -->

<div class="second container">
  <div>
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>

        <div  class="estatistica col-md-12 row" >

          <div class="col-md-4">
            <h1 class="Count"> 1000</h1>
            <h3> Estatística</h3>
          </div>

          <div class="col-md-4">
            <h1 class="Count"> 2000</h1>
            <h3>   Outra Estatística   </h3>
          </div>

          <div class="col-md-4">
            <h1 class="Count">3000</h1>
            <h3>  Estatísticas relevantes </h3>
          </div>

      </div>
      <div class="calltoaction ">
        <a class="button_blue animated infinite pulse ">Call to Action</a>
      </div>
  </div>
</div>
<hr>

<div class="third">
  <div>
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>

      <img src="/images/mac.png"/>
  </div>
</div>


<div class="fourth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>

            <div class="col-md-4">
              <div class="plan animated fadeInLeft">
                <div class="head">
                  <img src="/images/logo_large.png"/>
                  <h2>Plano Básico</h2>
                </div>
                <ul class="item-list">
                  <li><strong>1</strong> ítem</li>
                  <li>
                    <strong>300</strong> Algumas coisas</li>
                    <li><strong>Controle </strong> de presenças </li>
                    <li><strong>Suporte</strong> Ilimitado</li>
                  </ul>
                  <div class="price">
                    <h3><span class="symbol">R$ </span>472,8</h3>
                    <h4>mensais</h4>
                  </div>
                  <button type="button" class="btn btn-success">Adquirir Agora!</button>
              </div>
            </div>

            <div class="col-md-4">
              <div class="plan animated fadeInDown">
                <div class="head">
                  <img src="/images/logo_large.png"/>
                  <h2>Plano Completo</h2>
                </div>
                <ul class="item-list">
                  <li><strong>1</strong> ítem</li>
                  <li>
                    <strong>300</strong> Algumas coisas</li>
                    <li><strong>Controle </strong> de presenças </li>
                    <li><strong>Suporte</strong> Ilimitado</li>
                  </ul>
                  <div class="price">
                    <h3><span class="symbol">R$ </span>472,8</h3>
                    <h4>mensais</h4>
                  </div>
                  <button type="button" class="btn btn-success">Adquirir Agora!</button>
                </div>
              </div>

              <div class="col-md-4">
                <div class="plan animated fadeInRight">
                  <div class="head">
                    <img src="/images/logo_large.png"/>
                    <h2>Plano Master</h2>
                  </div>
                  <ul class="item-list">
                    <li><strong>1</strong> ítem</li>
                    <li>
                      <strong>300</strong> Algumas coisas</li>
                      <li><strong>Controle </strong> de presenças </li>
                      <li><strong>Suporte</strong> Ilimitado</li>
                    </ul>
                    <div class="price">
                      <h3><span class="symbol">R$ </span>472,8</h3>
                      <h4>mensais</h4>
                    </div>
                    <button type="button" class="btn btn-success">Adquirir Agora!</button>
                  </div>
                </div>
    </div>
</div>

<div class="fifth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
      <div class="browser-mockup with-url">
        <img src="/images/screen.png"/>
      </div>
  </div>
</div>

<div class="sixth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
  </div>
</div>

<div class="seventh">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
    <h4>Ut varius tincidunt libero. Nullam vel sem. Nullam vel sem. Nunc nulla. Praesent congue erat at massa. Aenean commodo ligula eget dolor. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</h4>
  </div>
</div>
<hr>
<div class="eighth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
    <h4>Ut varius tincidunt libero. Nullam vel sem. Nullam vel sem. Nunc nulla. Praesent congue erat at massa. Aenean commodo ligula eget dolor. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</h4>
  </div>
</div>
<hr>
<div class="nineth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
    <h4>Ut varius tincidunt libero. Nullam vel sem. Nullam vel sem. Nunc nulla. Praesent congue erat at massa. Aenean commodo ligula eget dolor. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</h4>
  </div>
</div>
