---
title: Academi.as - Sistema de Gestão de Academias
---

<div class="hero">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras</h1>
    <h3>Quisque malesuada placerat nisl. Tincidunt non, euismod vitae.</h3><!-- .doc -->
    <div class="calltoaction">
      <a class="button_transparent">Call to Action</a>
    </div>
  </div>
  <a><span class="fa fa-chevron-down scroll" ></span></a>
</div><!-- .welcome -->

<div class="second container">
  <div>
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>

        <div  class="estatistica col-md-12 row" >

          <div class="col-md-4">
            <h1>  200</h1>
            <h3> Estatística</h3>
          </div>

          <div class="col-md-4">
            <h1> 30</h1>
            <h3>   Outra Estatística   </h3>
          </div>


          <div class="col-md-4">
            <h1>3</h1>
            <h3>   Estatísticas relevantes </h3>
          </div>

      </div>
      <div class="calltoaction">
        <a class="button_blue">Call to Action</a>
      </div>
  </div>
</div>
<hr>

<div class="third">
  <div>
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
      <div class="browser-mockup with-url">
        <img src="/images/screen.png"/>
      </div>
  </div>
</div>
<hr>

<div class="fourth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
    <h4>Ut varius tincidunt libero. Nullam vel sem. Nullam vel sem. Nunc nulla. Praesent congue erat at massa. Aenean commodo ligula eget dolor. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</h4>
  </div>
</div>

<div class="fifth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
    <h4>Ut varius tincidunt libero. Nullam vel sem. Nullam vel sem. Nunc nulla. Praesent congue erat at massa. Aenean commodo ligula eget dolor. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</h4>
  </div>
</div>

<div class="sixth">
  <div class="container">
    <h1>Fusce risus nisl viverra et Cras risus ipsum faucibus ut</h1>
    <h3>Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</h3>
    <h4>Ut varius tincidunt libero. Nullam vel sem. Nullam vel sem. Nunc nulla. Praesent congue erat at massa. Aenean commodo ligula eget dolor. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</h4>
  </div>
</div>
