---
title: Adquirir Plano Full
---
<div class="hero">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Saiba Mais</a></li>
          <li><a href="/registrar" class="header_button_transparent">Iniciar 15 dias grátis</a></li>
          <li><a href="http://alunos.academi.as/" class="header_button_transparent">Alunos</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="col-md-3 completo">
    </div>
    <div class="col-md-6 completo">
      <div class="plan">
        <div class="head">
          <img src="/images/logo_large.png"/>
          <h2>Módulo de controle de acesso* </h2>
        </div>
        <ul class="item-list">
          <li>Sistema integrado catraca + tablet</li>
          <li>Desconto de <strong>25%</strong> somente este mês</li>
          <li>De R$131,22 cada por:</li>
        </ul>
        <div class="price">
          <h3><span class="symbol">R$ </span>98,50**</h3>
          <h4>mensais***</h4>
          <h6>* Para academias com até 600 alunos. </h6>
          <h6>** Implantação e consultorias não inclusas.</h6>
          <h6>*** Ganhe 10% no pagamento de 12 meses via PayPal.</h6>
        </div>

        <div class="paypal_div">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="ND4H2BXRFJ2SC">

            <input type="hidden" name="on0" value="Opções de Treinamentos">Opções de Treinamentos</td></tr><tr><td><select name="os0">
              <option value="Plano FULL ( desc. 40% )">Plano FULL ( desc. 40% ) : R$472,80 BRL - mensalmente</option>
              <option value="Modulo ERP Integrador ( desc. 25%  )">Modulo ERP Integrador ( desc. 25%  ) : R$394,00 BRL - mensalmente</option>
              <option value="Modulo Controle de acesso ( desc. 25%  )"  selected>Modulo Controle de acesso ( desc. 25%  ) : R$98,50 BRL - mensalmente</option>
              <option value="Modulo Lista de Exercícios ( desc. 25%  )">Modulo Lista de Exercícios ( desc. 25%  ) : R$98,50 BRL - mensalmente</option>
              <option value="Modulo Aluno Smart ( desc. 25%  )">Modulo Aluno Smart ( desc. 25%  ) : R$98,50 BRL - mensalmente</option>
            </select>

            <input type="hidden" name="currency_code" value="BRL">
            <button type="submit" class="paypal_button" border="0" name="Comprar Agora" alt="Comprar agora">Comprar agora</button>
            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 completo">
  </div>
</div>
