---
title: Registrar-se
---
<div class="hero">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo_large.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/conheca" class="header_button_transparent">Saiba Mais</a></li>
          <li><a href="/registrar" class="header_button_transparent">Iniciar 15 dias grátis</a></li>
          <li><a href="http://alunos.academi.as/" class="header_button_transparent">Alunos</a></li>
          <li><a href="http://sistema.academi.as/" class="header_button_transparent">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h3>Envie email para:</h3>
    <h1 style="padding: 5%;">contato@academi.as</h1>
    <div class="container col-md-4"/></div>
    <div class="container col-md-4"/>
    </div>
    <div class="container col-md-4 reg" style="display:none;">
      <h3 class="animated fadeIn">Preencha o cadastro e venha fazer parte do Academias</h3>

      <form class="register_form">
        <div class="register">
          <label for="login">Nome</label>
          <input type="text" id="login" name="login" placeholder="login">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" placeholder="Ex.: José">
          <label for="email">E-mail</label>
          <input type="text" id="email" name="email" placeholder="Ex.: jose@teste.com">
          <label for="phone">Telefone</label>
          <input type="text" id="phone" name="phone" placeholder="Ex.: +55 1234 1234">



          <label for="tamanho">Tamanho da academia</label>
          <select id="tamanho" name="tamanho">
            <option>Até 600 alunos</option>
            <option>de 600 a 800 alunos</option>
            <option>de 800 a 1000 alunos</option>
            <option>de 1000 a 1500 alunos</option>
            <option>de 1500 a mais de 2000 alunos</option>
          </select>

        </div>
        <button class="register_button" type="submit" name="registrar" >REGISTRAR</button>
      </form>

    </div>
    <div class="container col-md-3"/></div>
  </div>
